<section>
    <h1>
        PERGUNTAS FREQUENTES
    </h1>
    <details name="faq" open>
        <summary>
            Os produtos da Cellairis são próprios?
        </summary>
        Sim, nossos produtos são exclusivos e de alta qualidade. Quem compra um produto da Cellairis nunca mais quer
        saber de outro.
    </details>

    <details name="faq">
        <summary>
            Qual o tempo de retorno do investimento?
        </summary>
        Esse resultado varia conforme a gestão, mas é comum variar entre 12 à 18 meses.
    </details>

    <details name="faq">
        <summary>
            Vocês me darão suporte?
        </summary>
        Em todos os sentidos! Desde a escolha do ponto comercial, inauguração, treinamento de vendas e muito mais.
        Inclusive, oferecemos suporte 24 horas todos os dias da semana.
    </details>

    <details name="faq">
        <summary>
            Vocês treinam a equipe técnica?
        </summary>
        Sim, oferecemos treinamento completo para toda a sua equipe, cobrindo desde as habilidades técnicas até
        estratégias de vendas. Esse é um dos nossos maiores diferenciais. Garantimos capacitação contínua para
        franqueados e colaboradores, assegurando sempre alta performance.
    </details>

    <details name="faq">
        <summary>
            Como saber todos os detalhes do negócio?
        </summary>
        Basta apertar no botão abaixo, realizar seu cadastro e aguardar o contato dos nossos especialistas que vão te atender com muito zelo e compromisso.
    </details>

    <button>
        QUERO RECEBER TODAS INFORMAÇÕES
    </button>

</section>