<section>
    <h1 class="left">POR QUE A CELLAIRIS É A MELHOR OPÇÃO DE INVESTIMENTO?</h1>
    <ul>
        <li class="right">
            ÚNICA MARCA DO SEGMENTO QUE ESTÁ PRESENTE EM 11 PAÍSES
        </li>
        <li class="left">
            SÓ A CELLAIRIS POSSUI PRODUTOS EXCLUSIVOS COM MARCA PRÓPRIA
        </li>
        <li class="right">
            É A ÚNICA QUE LANÇA EM MÉDIA 3 NOVOS PRODUTOS POR DIA
        </li>
        <li class="left">
            SÓ A CELLAIRIS TRABALHA COM ASSISTÊNCIA TÉCNICA E SEGURO EM SEUS LABORATÓRIOS
        </li>
    </ul>

    <button>
        QUERO INVESTIR NO MELHOR NEGÓCIO
    </button>
</section>